@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@100;400;500;600;700&display=swap');
 body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	min-height: 100vh;
	overflow-x: hidden;
}


/* HEADER */

/* REUSEABLE  CODE*/

.section {
	@apply flex flex-col justify-center items-center md:w-[30%] w-4/5 m-auto gap-7 mt-[110px] mb-[60px] text-center;
}

.section h2 {
	@apply text-gray-800 font-extrabold text-3xl md:text-4xl font-[cursive]
}
.section p {
	@apply flex text-center text-gray-500;
}


.fa {
	@apply h-[30px] border-r-[.5px]
}
.kids-edu, .cur-family {
	font-family: cursive;
}
.section-notch::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 20px;
	background-image: url('/assets/notches/section-notch-top.png');
}
.section-notch::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 20px;
	background-image: url('/assets/notches/section-notch-bottom.png');
}
.slider {
	height: 60vh;
	width: 100%;
	background-image: url('/assets/slides/slide-01.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: -2;
}
.active {
	color: aqua;
	transition: .3s;
	cursor: pointer;
}

.upper-header .fa {
	@apply pr-4 shrink-0
}

.btn-header {
	background-image: linear-gradient(145deg, rgb(35, 204, 136) 0%, rgb(142, 207, 53) 100%);
}
.thm-btn {
	@apply px-4 md:px-[34px] md:py-[23px] py-3 rounded-md text-white font-semibold cursor-pointer;

}

.thm-btn-1 {
	background-image: linear-gradient(145deg, rgb(255, 79, 88) 0%, rgb(255, 180, 0) 100%);
    box-shadow: 0px 4px 6px 0px rgba(255, 114, 58, 0.36);
}
.thm-btn-2 {
	background-color: #ff9c00;
    background-image: linear-gradient(145deg, rgb(35, 204, 136) 0%, rgb(142, 207, 53) 100%)
}

.slider-content {
	z-index: 10;
}
.feature-item {
	padding: 35px 15px;
	box-shadow: 0px 0px 10px 0px rgba(136, 136, 136, 0.1);
	transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.feature-title {
	position: relative;
}
.feature-title::after {
	content: '';
	position: absolute;
	width: 80px;
	height: 4px;
	background: rgb(0, 57, 79);
	bottom: -22px;
	left: 0;
	margin: 0  113px;

}
.feature-item {
	@apply  w-[330px] h-[370px] bg-white shadow-lg rounded-md flex flex-col items-center py-[35px] px-[15px]
}
.feature-shape {
	@apply p-6 w-[100px] h-[100px] rounded-full mb-[30px] drop-shadow-lg;

}
.shape-1 {
	background-image: linear-gradient(145deg, rgb(35, 204, 136) 0%, rgb(142, 207, 53) 100%);
	box-shadow: 0px 18px 30px 0px rgba(38, 204, 133, 0.36);
}
.shape-2 {
	background-image: linear-gradient(145deg, rgb(255, 79, 88) 0%, rgb(255, 180, 0) 100%);
	box-shadow: 0px 18px 24px 0px rgba(255, 114, 58, 0.36);
}
.shape-3 {
	background-image: linear-gradient(145deg, rgb(1, 203, 173) 0%, rgb(71, 161, 242) 100%);
    box-shadow: 0px 18px 24px 0px rgba(1, 203, 173, 0.36);
}
.shape-4 {
	background-image: linear-gradient(145deg, rgb(232, 90, 202) 0%, rgb(252, 78, 101) 100%);
    box-shadow: 0px 18px 24px 0px rgba(233, 89, 197, 0.36);
}
.feature-title h3 {
	@apply text-center text-2xl font-bold text-[#00394f]
}


.feature-content p {
	@apply mt-[40px] text-gray-500 px-4 text-center
}

 /* 5 about */
 .section-bg-one {
	background-image: -moz-linear-gradient( 0deg, rgb(35,204,136) 0%, rgb(142,207,53) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(35,204,136) 0%, rgb(142,207,53) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(35,204,136) 0%, rgb(142,207,53) 100%);
}
.about-img img {
	margin-top: 21px;
}
.about-features {
	padding-left: 14px;
	color: #555555;
}
.about-features li:not(:last-child) {
	margin-bottom: 5px;
}

/* classes */
.class-item {
	@apply md:w-80 lg:w-[400px];
	box-shadow: 0px 0px 10px 0px rgba(136, 136, 136, 0.1);
	overflow: hidden;
	transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	background: #fff;
}
.class-item .class-img {
	overflow: hidden;
	
}
.class-item .class-img img {
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}
.class-item:hover .class-img img {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	cursor: pointer;
}
.class-item .class-content {
	@apply p-[30px] pb-[10px] flex flex-col flex-nowrap justify-center items-center;

}
.class-item .class-content .title {
	@apply text-[30px] font-bold mb-[14px] text-center;
	font-family: cursive;
}
.class-item .class-content .title a:hover {
	color: #23cc88;
}
.class-img img {
	@apply w-full;
}
.schedule {
	@apply pb-[20px] overflow-hidden;
}
.class-content p {
	@apply text-xl text-gray-500
}
.schedule li {
	@apply inline-block float-left text-[15px] font-semibold text-center w-[33.33%] relative;
}
.schedule li::after {
	position: absolute;
	width: 1px;
	height: 40px;
	background: #ededed;
	content: "";
	top: 11px;
	right: 0;
}
.schedule li:last-child::after {
	display: none;
}
.schedule li span {
	@apply block text-[15px];
	line-height: 30px;

}
.schedule li .class-size  {
	@apply text-xl ;
	color: #ff4f58;
}
.schedule li .class-size-2 {
	@apply text-xl ;
	color: #40cd72;
}
.class-content p {
	margin-bottom: 12px;
}


/* Counter section */
.counter-area {
	background-image: -webkit-linear-gradient(0deg, rgb(255, 79, 88) 0%, rgb(255, 180, 0) 100%);
}
.gallery-area .content-details {
	max-width: 650px;
	margin: auto;
	margin-top: 15px;
}
.gallery-area .title {
	font-family: cursive;
}
.gallery-list li {
	@apply cursor-pointer
}

.gallery-images img {
	cursor: pointer;
	transition: all 400ms;
}
.gallery-images img:hover {
	transform: scale(1.05);
}

.news-area {
	background-image: -webkit-linear-gradient(0deg, rgb(232, 90, 202) 0%, rgb(252, 78, 101) 100%);
}
.news-area .title {
	font-family: cursive;
}
.news-area p {
	margin-top: 15px;
	max-width: 600px;
	line-height: 30px;
}

.news-item {
	@apply bg-white text-gray-800 text-center pb-10;
}
.news-item .blog-ul-li {
	@apply flex  gap-5 justify-center
}
.blog-ul-li li {
	@apply flex gap-2 py-4
}
.blog-content h4 {
	@apply text-2xl max-w-[400px] m-auto font-bold
}
.blog-content p:last-child {
	@apply font-bold text-xl;
	color: #ff4f58;
}
.top-wrapper {
	border-bottom: 1px solid white;
}

.top-wrapper .contact-item {
	@apply flex flex-col md:flex-row gap-5  md:items-center md:px-4 md:py-10
}
.top-wrapper h4 {
	@apply flex flex-col md:text-xl
}
.top-wrapper h4 span:last-child{
	@apply font-bold
}

.top-wrapper .contact-item:first-child::after, .contact-item:nth-child(2)::after {
	content: '';
	top: 0;
	right: 0;
	width: .2px;
	height: 100%;
	background: gray;
}
/* Footer */
.bottom-wrapper .link-icons {
	@apply flex justify-evenly max-w-[200px] py-4
}
.bottom-wrapper .link-icons * {
	@apply text-xl w-7 font-bold
}

.footer-wrap	{
	background-image: url('/assets/bg/footer-bg.jpg');
	background-size: cover;
}
.footer-wrap h3 {
	@apply text-2xl md:text-3xl font-bold pb-[45px] relative mb-10 pt-5
}
.footer-wrap h3::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10%;
	height: .1px;
	background: gray;

}

.bottom-wrapper .blog-list ul li{
	@apply flex gap-4 pb-5 relative

}
.bottom-wrapper .blog-list ul li:last-child{
	@apply mt-5

}

.bottom-wrapper .blog-list ul li::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30%;
	height: .1px;
	background-color: gray;
}
.bottom-wrapper .blog-list ul li p {
	@apply flex flex-col max-w-[250px] font-bold 
}
.bottom-wrapper form input {
	@apply max-w-[400px] py-4 px-6 bg-transparent outline-none mt-5;
	border: .5px solid gray;
}
.bottom-wrapper form input::placeholder {
	color: white;
}

.author-link-icons {
	@apply flex w-full 
}
.author-link-icons * {
	@apply w-10 text-white rounded-full border-none
}

.teacher-area .teacher-item {
	@apply text-center py-5 mb-5  md:py-0 md:mb-0;
}
.teacher-area .teacher-item h4{
	@apply text-[#00394f] font-bold text-2xl
}
.teacher-area .teacher-item p{
	@apply text-gray-500 text-xl
}
.teacher-area .teacher-item .teacher-img {
	@apply  w-[500px] h-[500px] md:w-[300px] md:h-[300px] object-cover m-auto
}
.contact-card .fa {
	@apply w-20 h-20 text-6xl  text-[#00394f] border-none py-4
}
.contact-card {
	@apply flex flex-col justify-between mt-10 md:justify-center items-center shadow-lg w-4/5 md:w-80 h-80 gap-y-5 p-4
}
.contact-card h3 {
	@apply text-[#00394f] font-bold text-2xl mb-5
}
.contact-card p {
	@apply flex flex-col text-gray-500 text-xl
}
.contact-form input{
	@apply p-4 w-4/5 md:w-3/6 m-auto rounded-md border-gray-300 border-2 outline-none;
}
.contact-form textarea{
	@apply p-4  m-auto rounded-md border-gray-300 border-2 outline-none;
}